.main{
    max-width: 1212px;
    max-height: 854px;
    padding: 100px 100px;
}

.main form{
    width: 327px;
    height: 64px;
    border-radius: 4px;
}

.nav-items{
    font-family: 'Poppins';
}

.text_1{
    font-family: 'merriweather';
    font-size: 18px;
    color: #151B32;
}

.text_2{
    font-family: 'poppins';
    font-size: 14px;
}
